<section>
  <div class="left">
    <button (click)="manualRefresh()">Manual refresh token</button>
    <button (click)="manualAPICall()">Manual API CALL</button>
    <form>
      <div>
        <input type="text" placeholder="login" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
      </div>
      <div>
        <input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <input type="submit" value="Submit" (click)="authenticate()">
        <input type="button" value="Logout" (click)="logout()">
      </div>
    </form>
  </div>
  <div class="right">
    <div [ngStyle]="{ background: (profileData?.USER_LOGGED_IN) ? 'green' : 'red' }">{{ profileData?.USER_LOGGED_IN }}</div>
    <div>
      {{ profileData | json }}
    </div>
  </div>
</section>

