<section>
  <div class="left">
    <button (click)="manualRefresh()">Manual refresh token</button>
    <button (click)="manualAPICall()">Manual API CALL</button>
    <form>
      <div>
        <input type="text" placeholder="login" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
      </div>
      <div>
        <input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <input type="submit" value="Submit" (click)="authenticate()">
      </div>
    </form>
  </div>
  <div class="right">{{ profileData | json }}</div>
</section>

